AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: false
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Left
UseTab: Always
TabWidth: 2
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
