AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: false
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Left
UseTab: Always
TabWidth: 2
ContinuationIndentWidth: 2

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignOperands: false

SpaceBeforeAssignmentOperators: true # default
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false # or true?
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false # default

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

PenaltyReturnTypeOnItsOwnLine: 1000000
